html,body{
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    border: solid black;
    border-width: 5px;
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}

#loginContainer {
    border-style: dotted;
    border-color: white;
    background-image: url('images/bckrnd-img.jpg');
    background-size: cover;
    height: 100vh;
}

#loginContainer h1 {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(0%, -50%);
    height: 20vh;
    font: 200 50px/1.5 'Pacifico', Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

#form-div {
    position: absolute;
    top: 60%;
    left: 67.5%;
    transform: translate(0%, -50%);
    height: 20vh;
}

* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#drink-container {
    border-style: dotted;
    border-color: green;
    background-image: url('images/drinkCard.jpg');
}

/* #btn-div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#ingredient-container {
    border-style: dotted;
    border-color: red;
    border-width: 5px;
}

/* #espressoContainer {
    border-style: dotted;
    border-color: purple;
} */

#postDrinkContainer {
    border-style: dotted;
    border-color: orange;
    
}
